<form (ngSubmit)="onSubmit()">
  <div class="form-container">
    <label for="">НОВЫЙ ПОЛЬЗОВАТЕЛЬ</label>
    <input
      class="form-input"
      [(ngModel)]="username"
      type="text"
      name="username"
      required
      placeholder="Username..."
    />
    <input
      class="form-input"
      [(ngModel)]="fullName"
      type="text"
      name="fullName"
      required
      placeholder="Full name..."
    />
    <input
      class="form-input"
      [(ngModel)]="password"
      type="text"
      name="password"
      required
      placeholder="Password..."
    />
    <input class="button form-button" type="submit" value="СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ" />
    <img src="assets/images/logo.png" alt="terpi zaloopa" width="100px" />
  </div>
</form>
