.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 70px 0px 50px;
}

.discipline-form-container {
  flex-grow: 1;
}

h1 {
  font-style: normal;
}

h1.dark-mode {
  color: var(--dark-mode-text-color);
}

h2 {
  font-style: normal;
}

h2.dark-mode {
  color: var(--dark-mode-text-color)
}

.clickable:hover {
  cursor: pointer;
  color: red;
}

.appointments-item {
  margin: 5px 0px 5px 0px;
  display: flex;
}

.appointments-links {
  margin: 0px 10px 0px 0px;
}
.appointments-list.dark-mode {
  color: var(--dark-mode-text-color)
}
