<form (ngSubmit)="onSubmit()">
  <div class="form-container">
    <label for="">РЕГИСТРАЦИЯ</label>
    <input
      class="form-input"
      [(ngModel)]="username"
      type="text"
      name="username"
      required
      placeholder="username..."
    />
    <input
      class="form-input"
      [(ngModel)]="password"
      type="password"
      name="password"
      required
      placeholder="password..."
    />
    <input
      class="form-input"
      [(ngModel)]="confirmationPassword"
      type="password"
      name="password"
      required
      placeholder="password..."
    />
    <input class="button form-button" type="submit" value="СОЗДАТЬ АККАУНТ" />
    <div>
      Уже есть аккаунт?
      <button class="button" (click)="navigateToLogin()">
        ВОЙТИ
      </button>
    </div>
    <img src="assets/images/logo.png" alt="terpi zaloopa" width="100px" />
  </div>
</form>
