.header {
  width: 100%;
  height: 50px;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.logo {
  margin-left: 40px;
  font-size: x-large;
}

.menu {
  display: flex;
}

.menu-option {
  
}

.logout {
  margin-right: 40px;
}

.logout:hover {
  color: red;
}

