h1 {
  font-style: normal;
}

h1.dark-mode {
  color: var(--dark-mode-text-color);
}

h2 {
  font-style: normal;
}

h2.dark-mode {
  color: var(--dark-mode-text-color)
}

.appointments-list.dark-mode {
  color: var(--dark-mode-text-color)
}
