.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 70px 0px 50px;
}

.container1 {
  display: flex;
  flex-direction: column;
}

h1 {
  font-style: normal;
}

h1.dark-mode {
  color: var(--dark-mode-text-color);
}

h2 {
  font-style: normal;
}

h2.dark-mode {
  color: var(--dark-mode-text-color)
}

.appointments-name {
  align-self: center;
  min-width: 200px;
  margin: 5px 40px 5px 0px;
}

.appointments-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appointments-list.dark-mode {
  color: var(--dark-mode-text-color)
}

.status-text {
  align-self: flex-end;
}