.fake-task-appointments-list {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 0px 60px;
  filter: blur(5px);
}

.fake-task-appointment {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.fake-group-name {
  height: 40px;
  width: 180px;
  margin: 0px 0px 10px 5px;
  background-color: var(--background-secondary-color);
}

.fake-student-name {
  height: 30px;
  width: 200px;
  background-color: var(--background-secondary-color);
  filter: blur(5px);
}

.fake-appointment {
  margin-left: 10px;
  height: 30px;
  width: 400px;
  background-color: var(--background-secondary-color);
  filter: blur(5px);
}

.fake-student-name.dark-mode,
.fake-appointment.dark-mode,
.fake-group-name.dark-mode {
  background-color: var(--dark-mode-background-secondary-color);
}
