<form (ngSubmit)="onSubmit()">
  <div class="form-container">
    <p class="form-name">АВТОРИЗАЦИЯ</p>
    <input
      class="form-input"
      [(ngModel)]="username"
      type="text"
      name="username"
      required
      placeholder="username..."
    />
    <p class="form-text" *ngIf="this.emptyUsername">
      Поле должно быть заполнено
    </p>
    <input
      class="form-input"
      [(ngModel)]="password"
      type="password"
      name="password"
      required
      placeholder="password..."
    />
    <p class="form-text" *ngIf="this.emptyPassword">
      Поле должно быть заполнено
    </p>
    <input class="button form-button" type="submit" value="ВОЙТИ" />
    <img src="assets/images/logo.png" alt="terpi zaloopa" width="100px" />
  </div>
</form>
