.footer {
  min-width: 100%;
  height: fit-content;
  background-color: darkgray;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer.dark-mode {
  background-color: #555;
  color: #fff;
}
