.main-container {
  height: 100%;
  min-height: 100%;
  min-width:100%;
  flex-grow: 1;
  background-color: var(--background-color);
}


.main-container.dark-mode {
  background-color: var(--dark-mode-background-color);
}
