.navbar-container {
  min-width: 100%;
  height: fit-content;
  min-height: 70px;
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-color);
}

.navbar-container.dark-mode {
  background-color: var(--dark-mode-background-secondary-color);
  color: var(--dark-mode-text-color);
}

.clickable:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.logo img {
  object-fit: contain;
}

.logo-text {
  font-size: x-large;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 10px;
  margin-left: 10px
}

.logo-text.dark-mode {
  color: var(--dark-mode-text-color)
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}

.mini-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.username {
  font-size: large;
}

.logout {
  font-size: large;

}

.logout:hover {
  color: red;
}

