.navbar-container {
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  min-height: 70px;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container.dark-mode {
  background-color: #555;
  color: #f8f8f8;
}

.clickable:hover {
  cursor: pointer;
}

.logo {
  margin-left: 40px;
}

.logo-text {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 40px;
}

.username {
  font-size: large;
}

.logout {
  font-size: large;
}

.logout:hover {
  color: red;
}
