.task-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

.task-update-form {
  flex-grow: 1;
}

.task-description {
  min-width: 400px;
  width: fit-content;
}

.editor-window {

}

p.dark-mode {
  color: var(--dark-mode-text-color);
}
