@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  &::-webkit-scrollbar {
    background: $dark-mode-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $status-color-not-appointed;
    border-radius: 4px;
  }
}

.page {
  min-height: 100vh;
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}