@import "./variables.scss";
@import "./mixins.scss";

.code-review-page {
  color: $text-color;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 0px 0px;

  &.dark-mode {
    color: $dark-mode-text-color;
    .chat-container {
      background-color: $dark-mode-background-secondary-color;
    }
  }

  .chat-container {
    width: 400px;
    height: 400px;
    background-color: $background-secondary-color;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chat-messages {
      display: flex;
      flex-direction: column;

      .message {
        font-family: $main-font;
        &.left {
          align-self: flex-start;
        }
        &.right {
          align-self: flex-end;
        }
      }
    }

    .send-message-container {
      justify-self: flex-end;
      display: flex;

      .message-input {
        resize: none;
        width: 100%;
      }

      .send-message-button {
        @include button(0px);
      }
    }
  }

  .code-container {
  }
}
