@import "./variables.scss";

.fake-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: blur(5px);

  &.dark-mode {
    .fake-caption,
    .fake-item {
      background-color: $dark-mode-background-secondary-color;
    }
  }

  .fake-caption {
    height: 40px;
    width: 180px;
    filter: blur(5px);
    margin: 0px 0px 10px 5px;
    background-color: $background-secondary-color;
  }

  .fake-item {
    height: 60px;
    width: 200px;
    padding: 10px;
    background-color: $background-secondary-color;
    border: solid;
    border-color: black;
    border-width: 1px;
    filter: blur(5px);
  }
}
