@import "./variables.scss";
@import "./mixins.scss";

.form-upper-container {
  display: flex;
  
  .grade-form-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    border-radius: 10px;
  
    &.dark-mode {
      background: $dark-mode-background-secondary-color;
      color: $dark-mode-text-color;
  
      .form-input-container {
        .form-input {
          background: $dark-mode-background-color;
          color: $dark-mode-text-color;
          &::placeholder {
            color: $dark-mode-text-color;
          }
        }
        .form-text {
          color: $dark-mode-text-color;
        }
      }
    }
  
    .form-input-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0px 0px 5px 0px;
  
      .form-label {
        font-size: medium;
        align-self: flex-start;
        margin: 5px;
      }
  
      .form-input {
        width: 100%;
        min-height: 40px;
        border-radius: 7px;
        border: 1px solid #000;
        padding: 10px;
      }
    }
  
    .submit-button {
      @include button(5px 0px 5px 0px);
    }
  }
}

