@import "./variables.scss";
@import "./mixins.scss";

.page-with-tabs {
  &.dark-mode {
    .switch-panel {
      .switch-panel-button {
        color: $dark-mode-text-color;
        background-color: $dark-mode-background-secondary-color;
      }
    }
  }

  .switch-panel {
    display: flex;
    justify-content: space-around;

    .switch-panel-button {
      color: $text-color;
      width: 100%;
      min-height: 40px;
      height: fit-content;
      font-size: large;
      font-family: $main-font;
      border: solid;
      border-width: 1px;
      border-color: transparent white transparent white;
      background-color: $background-secondary-color;

      &:hover {
        cursor: pointer;
      }

      &.open {
        background-color: transparent;
      }
    }
  }
}
