@import "./variables.scss";
@import "./mixins.scss";

.page-with-tabs {
  color: $text-color;

  &.dark-mode {
    .switch-panel {
      .switch-panel-button {
        color: $dark-mode-text-color;
        background-color: $dark-mode-background-secondary-color;
      }
    }
  }

  .switch-panel {
    display: flex;
    justify-content: space-around;

    .switch-panel-button {
      width: 100%;
      min-height: 40px;
      height: fit-content;
      font-size: large;
      font-family: $main-font;
      border-radius: 0px;

      &.open {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
