@import "./variables.scss";
@import "./mixins.scss";

.lab-work-variant-page {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
  font-family: $main-font;
  color: $text-color;

  &.dark-mode {
    color: $dark-mode-text-color;

    .lab-work-variant-ide {
      .editor-and-output {
        .output {
          background-color: $dark-mode-background-secondary-color;
          color: $dark-mode-text-color;
        }
      }
      .control-panel {
        background-color: $dark-mode-background-secondary-color;
      }
    }
  }

  .left-container {
    width: 40%;
    min-width: none;

    .lab-work-variant-information {
      width: fit-content;
      margin: 0px 10px 0px 0px;

      .code-review-link {
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
  .lab-work-variant-ide {
    display: flex;

    .editor-and-output {
      display: flex;
      flex-direction: column;

      .output {
        margin-top: 10px;
        padding: 5px;
        height: 150px;
        width: 600px;
        resize: none;
        background-color: $background-secondary-color;
      }
    }

    .control-panel {
      margin-left: 15px;
      padding: 5px;
      background-color: $background-secondary-color;
      border-radius: 5px;
      height: fit-content;

      .control-button {
        @include button(5px 0px 5px 0px);
      }

      .send-to-review-button {
        @include greenButton(5px 0px 5px 0px);
      }
    }
  }

  .lab-work-variant-ide {
    display: flex;

    .editor-and-output {
      .output {
        width: 600px;
        height: 200px;
        padding: 10px;
        margin: 20px 0px 0px 0px;
        resize: none;
        overflow-y: auto;
        color: $text-color;
      }
    }

    .control-panel {
      width: fit-content;
    }
  }
}
