@import "./variables.scss";

.teams {
  color: $text-color;

  &.dark-mode {
    color: $dark-mode-text-color;
    
  }

  .team {
    margin: 5px 0px 5px 0px;
    cursor: default;


    .team-name {
      font-weight: bold;
    }

    .student-name {
      margin: 0px 0px 0px 5px;
    }
  }
}