@import "./variables.scss";

.team-lab-works-container {
  display: flex;
  flex-direction: column;
  width: 95%;

  &.dark-mode {
    .team-container {
      background-color: $dark-mode-background-secondary-color;
      border-color: black;

      .team-name {
        background-color: $dark-mode-background-color;
      }

      .lab-works-container {
        .lab-work-title {
          &.appointed {
            color: $dark-mode-status-color-appointed;
          }

          &.not-appointed {
            color: $dark-mode-status-color-not-appointed;
          }
        }

        .variants-container {
          .variant {
            &.appointed {
              color: $dark-mode-status-color-appointed;
            }

            &.not-appointed {
              color: $dark-mode-status-color-not-appointed;
            }
          }
        }
      }
    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    background-color: $background-secondary-color;
    border-color: white;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 10px 0px;

    .team-name {
      display: flex;
      background-color: $background-color;
      border-radius: 5px;
      padding: 5px;

      margin: 0px 0px 10px 0px;

      .team-title {
        font-weight: bold;
        margin: 0px 5px 0px 0px;
      }

      .student-name {
        margin: 0px 5px 0px 5px;
      }
    }

    .lab-works-container {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .lab-work-title {
        margin: 0px 5px 0px 5px;
        overflow: hidden;

      }

      .variants-container {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px 10px 0px;
        max-width: 100%;

        .variant {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0px 5px 5px 20px;

          .variant-title {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
