@import "./variables.scss";
@import "./mixins.scss";

.test-list {
  height: fit-content;
  font-family: $main-font;
  color: $text-color;

  &.dark-mode {
    .tests {
      .item {
        color: $dark-mode-text-color;

        .test-content {
          background-color: $dark-mode-background-secondary-color;
        }

        .button-with-image {
          .icon {
            filter: invert(100%);
          }
        }
      }
    }
  }

  .add-test-container {
    margin: 5px;

    .open-test-form-button {
      @include button(5px 0px 5px 0px);
    }
  }

  .tests {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: fit-content;
      max-width: 400px;
      margin: 3px;
      font-size: large;

      .button-with-image {
        @include buttonWithImage(3px);
      }

      .bold-text {
        font-weight: bold;
      }

      .test-content {
        background-color: $background-secondary-color;
        border-radius: 5px;
        padding: 4px;
      }

      .button {
        @include button();
      }
    }
  }
}
