
// COLORS
$primary-color: #ff3c3c;
$secondary-color: #3cff53;
$status-color-in-progress: red;
$status-color-finished: orange;
$status-color-done: green;

// COLORS, LIGHT MODE
$text-color: #181818;
$background-color: #fbfbfb;
$background-secondary-color: #b4b4b4;
$status-color-not-appointed: grey;
$status-color-appointed: black;

// COLORS, DARK MODE
$dark-mode-text-color: #f1f1f1;
$dark-mode-background-color: #212121;
$dark-mode-background-secondary-color: #2e2e2e;
$dark-mode-status-color-not-appointed: grey;
$dark-mode-status-color-appointed: white;

//FONTS
$main-font: "Montserrat", sans-serif;
$heading-font: "Raleway", sans-serif;
