.groups-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
}

.group-item {
  padding: 10px;
  background-color: var(--background-secondary-color); 
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
}

.groups-caption {
  margin: 0px 0px 10px 5px;
}

.groups-caption.dark-mode {
  color: var(--dark-mode-text-color);
}

.group-item:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--dark-mode-text-color)
}

.group-item.dark-mode {
  background-color: var(--dark-mode-background-secondary-color);
  color: var(--dark-mode-text-color);
}

.group-item.dark-mode:hover {
  background-color: var(--primary-color);
}